In [1]:
import pandas as pd
import sqlalchemy

In [3]:
connection_string = ('Driver=ODBC Driver 17 for SQL Server;'
                       'Server=SWADKA01PC0922\SQLEXPRESS;'
                       'Database=Final_Project;'
                       'Trusted_Connection=yes;')
connection_url = sqlalchemy.engine.URL.create("mssql+pyodbc",query=dict(odbc_connect=connection_string))
engine = sqlalchemy.create_engine(connection_url, fast_executemany=True)

In [2]:
data1 = pd.read_csv('campaign_table.csv') 
data2 = pd.read_csv('causal_data.csv')
data3 = pd.read_csv('coupon.csv')
data4 = pd.read_csv('coupon_redempt.csv')
data5 = pd.read_csv('hh_demographic.csv')
data6 = pd.read_csv('product.csv')
data7 = pd.read_csv('transaction_data.csv')

In [6]:
data1 = pd.read_csv('campaign_table.csv') 
data1

     DESCRIPTION  household_key  CAMPAIGN   START_DAY    END_DAY
0          TypeA             17        26  10/11/2020   4/1/2021
1          TypeA             27        26  10/11/2020   4/1/2021
2          TypeA            212        26  10/11/2020   4/1/2021
3          TypeA            208        26  10/11/2020   4/1/2021
4          TypeA            192        26  10/11/2020   4/1/2021
...          ...            ...       ...         ...        ...
7203       TypeC           1803        15    6/9/2021  9/15/2020
7204       TypeC           1082        15    6/9/2021  9/15/2020
7205       TypeC            942        15    6/9/2021  9/15/2020
7206       TypeC            855        15    6/9/2021  9/15/2020
7207       TypeC            334        15    6/9/2021  9/15/2020

[7208 rows x 5 columns]

In [ ]:
data1.to_sql("campaign_table", engine, if_exists='replace',index = False)
data3.to_sql("coupon", engine, if_exists='replace',index = False)
data4.to_sql("coupon_redempt", engine, if_exists='replace',index = False)
data5.to_sql("hh_demographic", engine, if_exists='replace',index = False)
data6.to_sql("product", engine, if_exists='replace',index = False)
data7.to_sql("transaction_data", engine, if_exists='replace',index = False)

In [ ]:
data2.to_sql("causal_data", engine, if_exists='replace', index = False,chunksize=10000)

In [ ]:
# TO FIND DUPLICATES IN COLUMN TO MAKE IT PRIMARY/ FOREIGN KEY

In [10]:
data3[['COUPON_UPC', 'PRODUCT_ID', 'CAMPAIGN']].duplicated().value_counts()

False    119384
True       5164
dtype: int64

In [12]:
data4[['household_key', 'DAY', 'COUPON_UPC', 'CAMPAIGN']].duplicated().value_counts()

False    2304
True       14
dtype: int64

In [103]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2318 entries, 0 to 2317
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   household_key  2318 non-null   int64
 1   DAY            2318 non-null   int64
 2   COUPON_UPC     2318 non-null   int64
 3   CAMPAIGN       2318 non-null   int64
dtypes: int64(4)
memory usage: 72.6 KB

### API CALL

api_key = "5ed8bb81871d32daaa4e4daa19a61235"

api_link=https://api.openweathermap.org/data/2.5/forecast?q={City_Name}&appid={api_key}

In [ ]:
City_Name = 'Bangalore'

In [7]:
cnt = 16
res  = f"https://api.openweathermap.org/data/2.5/forecast?q={City_Name}&appid={api_key}"

print(res)

https://api.openweathermap.org/data/2.5/forecast?q=Bangalore&appid=5ed8bb81871d32daaa4e4daa19a61235

#  FINAL SCRIPT FOR POWER BI

In [ ]:
import requests
import pandas as pd
from requests.exceptions import HTTPError

try:
    api_key = "5ed8bb81871d32daaa4e4daa19a61235"

    City_Name = 'Bangalore'
    res = f"https://api.openweathermap.org/data/2.5/forecast?q={City_Name}&appid={api_key}"

    response = requests.get(res)
    response.raise_for_status()
    # access JSOn content
    data1 = response.json()
    print("Entire JSON response")
#     print(jsonResponse)

except HTTPError as http_err:
    print(f'HTTP error occurred: {http_err}')
except Exception as err:
    print(f'Other error occurred: {err}')


df_weather=pd.DataFrame(columns=['city_id','city_name','date','time','temp','temp_min','temp_max','pressure','sea_level',
                                'grnd_level','humidity','weather_id','Cloudiness','description','wind_speed'])
for index in range(len(data1['list'])):
    
    city_id=data1['city']['id']
    city_name=data1['city']['name']
    date=data1['list'][index]['dt_txt'].split(" ")[0]
    time=data1['list'][index]['dt_txt'].split(" ")[1]
    temp=data1['list'][index]['main']['temp']
    temp_min=data1['list'][index]['main']['temp_min']
    temp_max=data1['list'][index]['main']['temp_max']
    pressure=data1['list'][index]['main']['pressure']
    sea_level=data1['list'][index]['main']['sea_level']
    grnd_level=data1['list'][index]['main']['grnd_level']
    humidity=data1['list'][index]['main']['humidity']
    weather_id=data1['list'][index]['weather'][0]['id']
    Cloudiness=data1['list'][index]['weather'][0]['main']
    description=data1['list'][index]['weather'][0]['description']
    wind_speed=data1['list'][index]['wind']['speed']

    df_weather.loc[index]=[city_id,city_name,date,time,temp,temp_min,temp_max,pressure,sea_level,grnd_level,humidity,weather_id,Cloudiness,description,wind_speed]
df_weather

In [164]:
temp=data1['list'][index]['main']['temp']
temp

297.42